.backdrop {
  position: fixed;
  inset: 0;
  background-color: #313338;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal {
  width: 400px;
  padding: 2rem;
  background-color: #1e1f22;
  border-radius: 8px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  color: white;
}
