.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.header {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #2f3136;
  font-weight: bold;
}

.layout {
  display: flex;
  flex: 1;
  background-color: #2f3136;
  overflow: hidden;
}

.main-content {
  flex: 1;
  background-color: #36393f;
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
  /* padding: 1rem; */
}
