.wrapper {
  display: flex;
  flex-direction: column;
  height: 100vh;
  color: white;
}

.header {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-side);
  font-weight: bold;
}

.dark,
.blue,
.purple,
.emerald,
.rose,
.sunset,
.orange {
  content: "";
  position: fixed;
  width: 1.25rem;
  height: 1.25rem;
  top: 6px;
  right: 160px;
  border: 1px solid #8f8f8f;
  border-radius: 50%;
  background-color: #2f3136;
  z-index: 9999;
  cursor: pointer;
  transition: all 0.2s ease;
}

.blue {
  right: 135px;
  background-color: #3b82f6;
}

.purple {
  right: 110px;
  background-color: #8b5cf6;
}

.emerald {
  right: 85px;
  background-color: #0f6649;
}

.rose {
  right: 60px;
  background-color: #be185d;
}

.sunset {
  right: 35px;
  background-color: #41281f;
}

.orange {
  right: 10px;
  background-color: #944b1e;
}

.active {
  outline: 1px solid white;
  transform: scale(1.1);
}

.layout {
  display: flex;
  flex: 1;
  background-color: var(--bg-side);
  overflow: hidden;
}

.full-opacity-slider {
  position: fixed;
  top: 5px;
  right: 10px;
  z-index: 9999;
}

.main-content {
  flex: 1;
  background-color: var(--bg-main);
  display: flex;
  flex-direction: column;
  overflow-y: hidden;
}
