/* .sidebar {
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  width: 13%;
  background-color: #2f3136;
  color: white;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  overflow-y: auto;
  z-index: 1000;
} */

.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 5rem;
  height: 100vh;
  background-color: #2f3136;
  /* padding: 1rem;
  overflow-y: auto; */
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
}

.home-button {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  border-radius: 16px;
  background-color: #1abc9c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.chat-icon {
  top: 2px;
  font-size: 2rem;
  color: white;
  position: relative;
  z-index: 1;
}

.eye {
  position: absolute;
  /* top: 25px; */
  top: 1.45rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #1abc9c;
  border-radius: 50%;
  z-index: 2;
}

.left-eye {
  /* left: 21px; */
  left: 1.2rem;
}

.right-eye {
  /* right: 21px; */
  right: 1.2rem;
}

/* .user-info {
  display: flex;
  margin-top: auto;
  align-items: center;
  justify-content: space-between;
  padding: 0.75rem 1rem;
  font-size: 1rem;
  background-color: #2f3136;
  border-top: 1px solid #444;
} */

/* .user-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #292b2f;
  padding: 0.5rem 1rem;
  border-radius: 12px 12px 0 0;
  height: 60px;
  width: calc(100% + 100px);
  transform: translateX(80px);
  position: absolute;
  bottom: 0;
  left: 0;
  color: white;
} */

.user-info {
  position: absolute;
  bottom: 1%;
  left: 10%;
  width: 15rem;
  height: 3.75rem;
  background-color: #292b2f;
  border-radius: 12px;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 10;
}
