.sidebar {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 4.5rem;
  height: 100vh;
  background-color: #2f3136;
  /* padding: 1rem;
  overflow-y: auto; */
}

.sidebar-top {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;
  padding: 0.5rem;
  align-items: center;
}

.home-button {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 16px;
  background-color: #1abc9c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.home-button:hover {
  background-color: #00b8db;
}

.indicator {
  position: absolute;
  left: -0.75rem;
  top: 50%;
  transform: translateY(-50%);
  width: 0.25rem;
  height: 0.5rem;
  background-color: #fff;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;
  opacity: 0;
  transition: all 0.3s ease;
}

.home-button:hover .indicator {
  height: 1.25rem;
  opacity: 1;
}

.home-button.active .indicator {
  height: 2.5rem;
  opacity: 1;
}

.active {
  background-color: #00b8db;
}

.chat-icon {
  top: 2px;
  font-size: 1.75rem;
  color: white;
  position: relative;
  z-index: 1;
}

.eye {
  position: absolute;
  top: 1.25rem;
  width: 0.375rem;
  height: 0.375rem;
  background-color: #1abc9c;
  border-radius: 50%;
  z-index: 2;
}

.left-eye {
  left: 0.95rem;
}

.right-eye {
  right: 0.95rem;
}

.friend-request-badge {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: -0.1rem;
  right: -0.1rem;
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  border: 2px solid #1e1e1e;
  background-color: #f33;
  z-index: 3;
}

.friend-request-count {
  font-size: 0.75rem;
  font-weight: bold;
  color: white;
  line-height: 1;
  text-align: center;
}

.group-chat-form-button {
  position: relative;
  width: 3rem;
  height: 3rem;
  border-radius: 16px;
  color: white;
  font-size: 1.75rem;
  background-color: #1abc9c;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.group-chat-form-button:hover {
  background-color: #16a085;
  transform: scale(1.05);
}

.user-info {
  position: absolute;
  bottom: 5%;
  left: 10%;
  width: 18.5rem;
  height: 3.75rem;
  background-color: #292b2f;
  border-radius: 12px;
  padding: 0.5rem 0.75rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: white;
  z-index: 10;
}

.user-info-left {
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

/* .avatar-img-wrapper,
.avatar-color {
  position: relative;
}

.avatar-img,
.avatar-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar-img {
  object-fit: cover;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
} */

.user-info-nickname {
  font-size: 1rem;
  margin-left: 0.25rem;
  width: 9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-info-right {
  display: flex;
  align-items: center;
  gap: 0.25rem;
}

.user-info-edit,
.logout {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.25rem;
  background: none;
  border: none;
  color: #adadad;
  padding: 0.5rem;
  cursor: pointer;
  border-radius: 8px;
  transition: background-color 0.2s ease;
}

.user-info-edit:hover,
.logout:hover {
  color: white;
  background-color: rgba(255, 255, 255, 0.1);
}
