.item {
  position: relative;
}

/* 위에 삽입될 위치 */
.insert-line-top {
  position: absolute;
  left: 2px;
  right: 2px;
  top: -8px;
  height: 4px;
  background-color: #3ba55d;
  border-radius: 2px;
  pointer-events: none;
}

/* 아래에 삽입될 위치 */
.insert-line-bottom {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -8px;
  height: 4px;
  background-color: #3ba55d;
  border-radius: 2px;
  pointer-events: none;
}

.group-chat-placeholder {
  width: 3rem;
  height: 3rem;
  background-color: rgba(8, 8, 8, 0.9);
  color: #fff;
  border-radius: 16px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  font-weight: 500;
  pointer-events: none;
  opacity: 0.5;
}
