.group-chat-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  border-radius: 16px;
  background-color: #00b8db;
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0.5;
}

.group-chat-overlay-title {
  white-space: nowrap;
  overflow: hidden;
  /* text-overflow: ellipsis; */
}

.title-small {
  font-size: 0.65rem;
}
