.group-chat-invite-item {
  padding: var(--space-sm);
  border: 1.5px solid var(--color-border);
  border-radius: var(--radius-md);
  margin-bottom: var(--space-sm);
  background-color: var(--group-invite-bg);

  /* border: 1px solid rgba(255, 255, 255, 0.05);
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2); */
}

.group-chat-invite-main {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.group-chat-invite-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.sender-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
  color: var(--color-text);
  margin-bottom: var(--space-xs);
}

.nickname {
  flex: 1;
  width: 4.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.date {
  font-size: 0.75rem;
  color: #aaaaaa;
}

.invite-info {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: var(--space-sm);
  color: var(--color-text);
}

.room-title {
  width: 4.5rem;
  font-weight: var(--font-weight-bold);
  font-size: var(--font-sm3);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.participant-count {
  font-size: var(--font-sm);
  color: var(--color-text-tertiary);
}

.group-chat-invite-buttons {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  margin-top: var(--space-md);
}

.group-chat-invite-buttons button {
  /* padding: 0.3rem 0.8rem 0.4rem 0.8rem; */
  padding: var(--space-xs) var(--space-md) 0.35rem var(--space-md);
  font-size: var(--font-sm);
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  color: var(--color-text);
  transition: background-color 0.2s ease;
}

.group-chat-invite-accept-button {
  background-color: var(--color-success);
}

.group-chat-invite-accept-button:hover {
  background-color: var(--color-success-hover);
}

.group-chat-invite-reject-button {
  background-color: var(--color-danger);
}

.group-chat-invite-reject-button:hover {
  background-color: #c43732;
}

.group-chat-invite-text {
  display: flex;
  justify-content: center;
  gap: var(--space-sm);
  margin-top: var(--space-md);
}

.group-chat-invite-text button {
  padding: 0.4rem var(--space-md);
  font-size: var(--font-sm);
  border: none;
  border-radius: var(--radius-xs);
  cursor: pointer;
  background-color: var(--color-success);
  color: var(--color-text);
  transition: background-color 0.2s ease;
}

.group-chat-invite-text button:hover {
  background-color: var(--color-success-hover);
}
