.group-chat-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

.group-chat-user:hover {
  border-radius: 8px;
  background-color: #38393f;
  cursor: pointer;
}

.group-chat-user-nickname {
  color: white;
  margin-left: 0.25rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offline {
  opacity: 0.3;
  /* color: #b3b3b3; */
}
