.group-chat-announcement-form {
  margin: 0 0.25rem 0.5rem 0;
  padding: 0;
}

.title {
  text-align: center;
  font-size: 1.5rem;
  margin: 1.75rem 0 1.25rem 0.25rem;
}

.group-chat-announcement-title {
  font-size: 0.95rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: #ddd;
}

.group-chat-announcement-textarea {
  font: inherit;
  margin: 0.25rem 0.5rem;
  width: 95%;
  min-height: 6rem;
  padding: 0.5rem;
  line-height: 1rem;
  border: 1px solid rgba(133, 133, 133, 0.5);
  border-radius: 6px;
  background-color: transparent;
  color: white;
  font-size: 0.95rem;
  resize: none;
}

.group-chat-announcement-textarea:focus {
  outline: none;
  border-color: #199cf3;
}

/* 스크롤바 설정 */
.group-chat-announcement-textarea::-webkit-scrollbar {
  width: 0.2rem;
}

/* 스크롤바의 배경 트랙 설정 */
.group-chat-announcement-textarea::-webkit-scrollbar-track {
  /* background-color: #ebebeb; */
  border-radius: 0.5rem;
  margin-top: 0.6rem;
  margin-bottom: 0.6rem;
  border-left: 0.3rem solid transparent;
}

/* 스크롤바의 움직이는 핸들(슬라이더) 설정 */
.group-chat-announcement-textarea::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 0.5rem;
}

/* 스크롤바 핸들 호버했을 때 설정 */
.group-chat-announcement-textarea::-webkit-scrollbar-thumb:hover {
  background-color: #6e6e6e;
}

/* 스크롤바 핸들에 액티브 상태일 때 스타일 설정 */
.group-chat-announcement-textarea::-webkit-scrollbar-thumb:active {
  background-color: #333333;
}

.group-chat-announcement-count-wrapper {
  margin-left: 0.45rem;
  opacity: 1;
}

.count-max {
  font-size: 0.85rem;
  color: #f44336;
  font-weight: bold;
}

.count {
  font-size: 0.85rem;
  color: #7fcc97;
}

.count-warning-message {
  /* height: 1rem;
  line-height: 2rem;
  text-align: center; */
  margin-left: 0.2rem;
  color: #f44336;
  font-size: 0.85rem;
}

.submit-button {
  text-align: end;
  margin: 0.25rem;
  margin-top: 0.5rem;
}

.active {
  background-color: #4caf50;
  color: white;
  border: none;
  padding: 0.3rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
}

.disable {
  pointer-events: none;
  background-color: #555;
  color: #aaa;
  border: none;
  padding: 0.3rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: default;
}
