.group-chat-invite-wrapper {
  display: flex;
  align-items: center;
  /* width: 70%; */
}

.group-chat-invite-wrapper:hover {
  border-radius: var(--radius-xs);
  background-color: var(--friend-btn-hover);
}

.group-chat-invite-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: default;
}

.group-chat-invite-wrapper:hover .group-chat-invite-nickname {
  color: white;
}

.group-chat-invite-nickname {
  font-size: var(--font-md);
  color: var(--color-text-secondary);
  margin-left: 0.25rem;
}

.group-chat-invite-button-wrapper {
  width: 3.75rem;
}

.group-chat-invite-button {
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: var(--radius-xs);
  padding: 0.3rem 0.75rem;
  font-size: var(--font-sm2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.group-chat-invite-button:hover {
  background-color: #3d9640;
}
