.group-chat-user {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

.group-chat-user:hover {
  border-radius: 8px;
  background-color: #38393f;
  cursor: pointer;
}

.group-chat-user-nickname {
  color: white;
  margin-left: 0.25rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offline {
  opacity: 0.3;
  /* color: #b3b3b3; */
}

.user-profile-tooltip::before {
  content: "";
  position: absolute;
  right: 100%; /* 툴팁의 왼쪽 바깥 */
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25rem 0.2rem 0.25rem 0;
  border-color: transparent #1abc9c transparent transparent;
}

.user-profile-tooltip {
  position: absolute;
  left: calc(100% + 0.5rem); /* 버튼의 오른쪽 바깥으로 0.5rem 떨어져 위치 */
  top: 50%;
  transform: translateY(-50%); /* 수직 가운데 정렬 */
  background-color: #1abc9c;
  color: #fff;
  padding: 0.65rem 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;
  visibility: visible;
  opacity: 1;
  transition: opacity 0.2s ease-in-out;
}

/* .user-profile-tooltip {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%);
  z-index: 50;
  pointer-events: auto;
} */
