.group-chat-invite-wrapper {
  display: flex;
  align-items: center;
  /* width: 70%; */
}

.group-chat-invite-wrapper:hover {
  border-radius: var(--radius-xs);
  background-color: var(--friend-btn-hover);
}

.group-chat-invite-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--space-sm);
  padding: var(--space-sm);
  cursor: default;
}

.group-chat-invite-wrapper:hover .group-chat-invite-nickname {
  color: var(--color-text);
}

.group-chat-invite-nickname {
  font-size: var(--font-md);
  color: var(--color-text-secondary);
  margin-left: var(--space-xs);
}

.group-chat-invite-button-wrapper {
  width: 3.75rem;
}

.group-chat-invite-button {
  background-color: var(--color-success);
  color: var(--color-text);
  border: none;
  border-radius: var(--radius-xs);
  padding: 0.3rem var(--space-md);
  font-size: var(--font-sm2);
  cursor: pointer;
  transition: var(--transition-bg);
}

.group-chat-invite-button:hover {
  background-color: var(--color-success-hover);
}
