.online-users,
.offline-users {
  padding: 0.5rem;
  color: #b3b3b3;
}

.online-text-wrapper,
.offline-text-wrapper {
  font-size: 0.95rem;
}

.online-text,
.offline-text {
  font-weight: bold;
}

.line {
  display: inline-block;
  transform: scaleX(0.8);
  margin: 0 0.2rem;
}
