.group-chat-panel {
  display: flex;
  flex-direction: column;
  width: 21.5rem;
  /* height: 100vh; */
  border-radius: 0.5rem;
  border-left: 1px solid #444;
}

.avatar-header {
  height: 9rem;
  width: 100%;
}

.group-chat-host-info {
  /* width: 19rem; */
  /* flex: 1; */
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2f3136;
  padding: 1rem;
  overflow-y: visible;
}

.avatar {
  /* position: relative; */
  position: absolute;
  /* top: 7.5rem; */
  top: -2.25rem;
  /* right: 13.5rem; */
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 5px #2f3136;
  z-index: 1;
}

/* .online-dot,
.offline-dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 5px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
} */

.nickname {
  margin: 1rem 0 0.5rem 0;
  margin-top: 2.25rem;
}

.group-chat-announcement-wrapper {
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
  font-size: 0.95rem;
  /* color: #f1f1f1; */
}

.group-chat-announcement-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-weight: 600;
  margin-bottom: 0.5rem;
  color: #ffd966;
}

.group-chat-announcement-content {
  line-height: 1.5;
  white-space: pre-wrap;
  /* color: #e1e1e1; */
  font-size: 0.9rem;
}

.group-chat-users-wrapper {
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
  margin-top: 0.75rem;
}

.group-chat-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

.group-chat-user-avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
}

.group-chat-user-nickname {
  color: white;
  margin-left: 0.25rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-chat-since-wrapper {
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
  margin-top: 0.75rem;
}

.group-chat-since-label {
  font-size: 0.85rem;
  font-weight: bold;
}

.group-chat-since {
  margin-top: 0.15rem;
  font-size: 0.875rem;
}
