.group-chat-user {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  flex: 1;
}

/* .avatar-img-wrapper,
.avatar-color {
  position: relative;
}

.avatar-img,
.avatar-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar-img {
  object-fit: cover;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
} */

.group-chat-user-nickname {
  color: white;
  margin-left: 0.25rem;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.offline {
  opacity: 0.3;
  /* color: #b3b3b3; */
}
