.item {
  position: relative;
}

/* 위에 삽입될 위치 */
.insert-line-top {
  position: absolute;
  left: 2px;
  right: 2px;
  top: -8px;
  height: 4px;
  background-color: var(--color-drag-indicator);
  border-radius: var(--radius-2xs);
  pointer-events: none;
}

/* 아래에 삽입될 위치 */
.insert-line-bottom {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -8px;
  height: 4px;
  background-color: var(--color-drag-indicator);
  border-radius: var(--radius-2xs);
  pointer-events: none;
}

/* .group-chat-placeholder {
  width: 3rem;
  height: 3rem;
  background-color: rgba(30, 30, 30, 0.9);
  color: var(--color-text);
  border-radius: var(--radius-md);
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.35);
  font-weight: 500;
  pointer-events: none;
  opacity: 0.95;
} */

/* .group-chat-placeholder {
  width: 3rem;
  height: 3rem;
  background-color: var(--group-chat-btn);
  color: var(--color-text);
  border-radius: var(--radius-xl);
  border: none;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  pointer-events: none;
  opacity: 0.95;
} */
