.item {
  position: relative;
}

/* .dropZone {
  position: relative;
}

.dropLine {
  position: absolute;
  left: 1px;
  right: 1px;
  top: 50%;
  transform: translateY(-50%);
  height: 4px;
  background-color: #3ba55d;
  border-radius: 2px;
} */

/* 위에 삽입될 위치 */
.insert-line-top {
  position: absolute;
  left: 2px;
  right: 2px;
  top: -8px;
  height: 4px;
  background-color: #3ba55d;
  border-radius: 2px;
  pointer-events: none;
}

/* 아래에 삽입될 위치 */
.insert-line-bottom {
  position: absolute;
  left: 2px;
  right: 2px;
  bottom: -8px;
  height: 4px;
  background-color: #3ba55d;
  border-radius: 2px;
  pointer-events: none;
}

/* .dropLineTop,
.dropLineBottom {
  position: absolute;
  left: 1px;
  right: 1px;
  height: 5px;
  background-color: #3ba55d;
  border-radius: 2px;
}

.dropLineTop {
  top: 1;
}

.dropLineBottom {
  bottom: 1;
} */
