.direct-chat-panel {
  display: flex;
  flex-direction: column;
  width: 21.5rem;
  border-radius: 0.5rem;
  border-left: 1px solid #444;
}

.avatar-header {
  height: 9rem;
  width: 100%;
}

.direct-chat-other-info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #2f3136;
  padding: 1rem;
  overflow-y: visible;
}

.direct-chat-other-info-avatar {
  position: absolute;
  top: -2.25rem;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 5px #2f3136;
  z-index: 1;
}

.direct-chat-other-info-online-dot,
.direct-chat-other-info-offline-dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 5px solid #1e1e1e;
}

.direct-chat-other-info-offline-dot {
  background-color: gray;
}

.nickname {
  margin: 1rem 0 0.5rem 0;
  margin-top: 2.25rem;
}

.friend-since-wrapper {
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
}

.friend-since-label {
  font-size: 0.85rem;
  font-weight: bold;
}

.friend-since-label-emoji {
  font-size: 0.95rem;
  margin-right: 0.25rem;
}

.friend-since {
  margin-top: 0.15rem;
  font-size: 0.875rem;
}

.not-friend {
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.mutual-content-wrapper {
  margin-top: 0.75rem;
  padding: 0.75rem;
  background-color: #414147;
  border-radius: 8px;
}

.mutual-content-wrapper > *:not(:last-child) {
  margin-bottom: 0.75rem;
}

.mutual-group-chat-count,
.mutual-friend-user-count {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mutual-group-chat-text-wrapper,
.mutual-friend-user-text-wrapper {
  font-size: 0.95rem;
}

.mutual-group-chat-text,
.mutual-friend-user-text {
  font-weight: bold;
}

.line {
  display: inline-block;
  transform: scaleX(0.8);
  margin: 0 0.2rem;
}

.mutual-group-chat-icon-wrapper,
.mutual-friend-user-icon-wrapper {
  display: flex;
  font-size: 1.4rem;
  color: #bdb8b8;
}

.mutual-group-chat,
.mutual-friend-user {
  display: flex;
  text-decoration: none;
  padding: 0.3rem 0.5rem;
  align-items: center;
}

.mutual-group-chat:hover,
.mutual-friend-user:hover {
  border-radius: 8px;
  background-color: #525258;
  /* background-color: #38393f; */
}

.mutual-group-chat-icon {
  flex-shrink: 0; /* flex에서 크기 줄어드는 거 방지 */
  width: 3rem;
  min-width: 3rem; /* 안전 장치 */
  height: 3rem;
  border-radius: 16px;
  background-color: #00b8db;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: white;
  white-space: nowrap; /* 텍스트 자동 줄바꿈 방지 */
  overflow: hidden; /* 글자가 요소 범위를 넘어가지 않도록 방지 */
}

.mutual-group-chat-icon-small {
  font-size: 0.65rem;
}

.mutual-group-chat-title,
.mutual-friend-user-nickname {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 ... 으로 생략해 출력 */
  min-width: 0;
  color: white;
  font-weight: bold;
  margin-left: 0.75rem;
}

.mutual-friend-user-nickname {
  margin-left: 1rem;
}

.underline {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2);
  margin: 0.75rem 0;
}

.mutual-friend-user-avatar {
  position: relative;
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.25rem;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.mutual-friend-user-online-dot,
.mutual-friend-user-offline-dot {
  position: absolute;
  width: 1.25rem;
  height: 1.25rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 4px solid #1e1e1e;
}

.mutual-friend-user-offline-dot {
  background-color: gray;
}
