.sub-sidebar {
  display: flex;
  flex-direction: column;
  width: 15rem;
  height: 100%;
  background-color: var(--bg-side);
  padding: var(--space-md) var(--space-sm);
  padding-bottom: 4.25rem;
  overflow: hidden;
}

.sub-sidebar-scroll {
  padding: var(--space-md) var(--space-sm) 1rem; /* 추가 수정 필요 */
  overflow-y: auto;
}

/* 스크롤바 설정 */
.sub-sidebar-scroll::-webkit-scrollbar {
  width: 0.3rem;
}

/* 스크롤바의 배경 트랙 설정 */
.sub-sidebar-scroll::-webkit-scrollbar-track {
  border-radius: var(--radius-md);
  margin-top: 1rem;
  margin-bottom: 2.5rem;
  border-left: 0.3rem solid var(--color-border-transparent);
}

/* 스크롤바의 움직이는 핸들(슬라이더) 설정 */
.sub-sidebar-scroll::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: var(--radius-md);
}

/* 스크롤바 핸들 호버했을 때 설정 */
.sub-sidebar-scroll::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

/* 스크롤바 핸들에 액티브 상태일 때 스타일 설정 */
.sub-sidebar-scroll::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbar-thumb-active);
}

.friend {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-md);
  cursor: pointer;
  color: var(--color-text-secondary);
}

.friend:hover {
  border-radius: var(--radius-md);
  background-color: var(--sub-side-btn-hover);
  color: var(--color-text);
}

.active {
  border-radius: var(--radius-md);
  background-color: var(--sub-side-btn-active);
  color: var(--color-text);
}

.friend-left {
  display: flex;
  align-items: center;
  gap: var(--space-md);
}

.friend-icon {
  display: flex;
  align-items: center;
  font-size: 1.2rem;
}

.friend-text {
  font-weight: var(--font-weight-bold);
}

.friend-right {
  position: relative;
  width: 1.1rem;
  height: 1.1rem;
  border-radius: var(--radius-full);
  background-color: var(--color-badge);
  overflow: hidden;
}

.friend-request-count {
  position: absolute;
  top: 50%;
  left: 48%;
  transform: translate(-50%, -50%);
  font-size: var(--font-xs);
  font-weight: var(--font-weight-bold);
  color: var(--color-text);
  line-height: 1;
  text-align: center;
}

.underline {
  height: 1px;
  background-color: var(--color-divider);
  margin: var(--space-sm) 0;
}

.direct-chat-text {
  color: var(--color-text-secondary);
  padding: var(--space-xs) var(--space-sm);
  font-size: var(--font-sm3);
}

.direct-chat-text:hover {
  color: var(--color-text);
  cursor: default;
}
