.direct-chat-full-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-radius: var(--radius-md);
  border: 1px solid var(--color-border);
}

.direct-chat-main-content {
  flex: 1;
  height: 100%;
}
