.direct-chat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.online-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: green;
}

.offline-dot {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: gray;
}

.avatar {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ccc; /* 추후 랜덤 색상으로 변경 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.direct-chat-nickname {
  color: #b3b3b3;
  text-decoration: none;
}

.direct-chat-close {
  background: none;
  border: none;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
}

.direct-chat:hover .direct-chat-close {
  opacity: 1;
}

.direct-chat:hover .direct-chat-nickname {
  color: white;
}

.direct-chat:hover {
  border-radius: 8px;
  /* background-color: #414147; */ /* 활성화 상태 배경색 */
  background-color: #38393f; /* 호버 상태 배경색 */
  /* background-color: #313438; */
}
