.direct-chat-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.5rem;
  transition: background-color 0.2s;
  cursor: pointer;
  margin-bottom: 0.1rem;
}

.direct-chat-wrapper:hover {
  border-radius: 8px;
  background-color: #38393f;
  /* background-color: #313438; */
}

.direct-chat-wrapper:hover .direct-chat-close {
  opacity: 1;
}

.direct-chat-wrapper:hover .direct-chat-nickname {
  color: white;
}

.direct-chat {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  text-decoration: none;
  color: inherit;
  flex: 1;
}

.active {
  border-radius: 8px;
  background-color: #414147;
}

.avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  background-color: #ccc; /* 추후 랜덤 색상으로 변경 */
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
}

.active .direct-chat-nickname {
  color: white;
}

.direct-chat-nickname {
  color: #b3b3b3;
  margin-left: 0.25rem;
  width: 8rem;
}

.nickname-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.direct-chat-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: #999;
  font-size: 16px;
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
}

.direct-chat-close-icon {
  font-size: 1.25rem;
  color: #bebebe;
}
