.direct-chat-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--space-sm);
  border-radius: var(--radius-md);
  transition: background-color 0.2s;
  cursor: pointer;
  margin-bottom: 0.1rem;
}

.direct-chat-wrapper:hover {
  background-color: var(--sub-side-btn-hover);
}

.direct-chat-wrapper:hover .direct-chat-close {
  opacity: 1;
}

.direct-chat-wrapper:hover .direct-chat-nickname {
  color: var(--color-text);
}

.direct-chat {
  display: flex;
  align-items: center;
  gap: var(--space-sm);
  text-decoration: none;
  color: inherit;
  flex: 1;
}

.active {
  border-radius: var(--radius-md);
  background-color: var(--sub-side-btn-active);
}

.active .direct-chat-nickname {
  color: var(--color-text);
}

.direct-chat-nickname {
  color: var(--color-text-secondary);
  margin-left: var(--space-xs);
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.direct-chat-close {
  display: flex;
  align-items: center;
  justify-content: center;
  background: none;
  border: none;
  color: var(--color-text-tertiary);
  font-size: var(--font-md);
  cursor: pointer;
  margin-left: auto;
  opacity: 0;
  transition: opacity 0.2s;
}

.direct-chat-close-icon {
  font-size: var(--font-lg);
  color: #bebebe;
}
