.direct-chat-full-content {
  display: flex;
  flex-direction: row;
  height: 100vh;
  border-radius: 0.5rem;
  border: 1px solid var(--border-color-dark-gray);
}

.direct-chat-main-content {
  flex: 1;
  height: 100%;
}
