.title {
  margin: var(--space-lg) 0 var(--space-sm) 0;
}

.description {
  margin: 0;
  margin-bottom: var(--space-lg);
}

.add-friend-search-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 70%;
  padding: 0.1rem var(--space-xs);
  border: 1px solid rgba(133, 133, 133, 0.5);
  border-radius: var(--radius-md);
  margin: var(--space-lg) 0;
  margin-top: var(--space-sm);
}

.add-friend-search-wrapper:focus-within {
  outline: none;
  border-color: var(--color-border-focus);
}

.add-friend-search-input {
  margin-left: var(--space-xs);
  padding-right: var(--space-2xl);
  width: 100%;
  background-color: transparent;
  border: 1px solid transparent;
  border-radius: var(--radius-md);
  font-size: 1.05rem;
  color: var(--color-text);
}

.add-friend-search-input:focus {
  outline: none;
}

.add-friend-search-input::placeholder {
  font-size: 1.05rem;
}

.add-friend-search-input:focus::placeholder {
  opacity: 0.5;
}

.add-friend-send-button {
  font-size: var(--font-sm3);
  font-weight: var(--font-weight-bold);
  margin: var(--space-sm);
  padding: var(--space-sm) var(--space-md);
  border: none;
  border-radius: var(--radius-md);
  color: var(--color-text);
  background-color: var(--color-success);
  white-space: nowrap;
}

.active {
  cursor: pointer;
}

.active:hover {
  background-color: var(--color-success-hover);
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}

.status-message {
  color: var(--danger-color-red);
}
