.friend-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
}

.friend-wrapper:hover {
  border-radius: 8px;
  background-color: #4f545c;
}

.friend-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.avatar-img-wrapper {
  position: relative;
}

.avatar-img,
.avatar-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar-img {
  object-fit: cover;
}

.avatar-color {
  position: relative;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
}

.friend-nickname {
  font-size: 1rem;
  color: white;
  margin-left: 0.25rem;
}

.friend-buttons {
  width: 3.75rem;
  /* width: auto; */
  /* margin-right: 0.5rem; */
  /* padding: 0.5rem; */
}

.friend-delete-button {
  /* background-color: #929292; */
  background-color: #d9363e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.friend-delete-button:hover {
  /* background-color: #797979; */
  /* background-color: #ff4d4f; */
  background-color: #c43732;
}
