.friend-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
}

.friend-wrapper:hover {
  border-radius: 8px;
  background-color: var(--friend-btn-hover);
}

.friend-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: 0.5rem;
  padding: 0.5rem;
  cursor: pointer;
}

.friend-nickname {
  font-size: 1rem;
  color: white;
  margin-left: 0.25rem;
}

.friend-buttons {
  width: 3.75rem;
}

.friend-delete-button {
  background-color: #d9363e;
  color: white;
  border: none;
  border-radius: 4px;
  padding: 0.3rem 0.75rem;
  font-size: 0.875rem;
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.friend-delete-button:hover {
  background-color: #c43732;
}
