.friend-menu {
  /* flex: 1; */
  display: flex;
  flex-direction: column;
  background-color: #36393f;
}

.friend-submenu {
  display: flex;
  flex-direction: row;
  gap: 8px;
  padding: 0.75rem;
  border-bottom: 1px solid #444;
  /* background-color: #202225; */
}

.friend-submenu button {
  color: white;
  background: none;
  border: none;
  cursor: pointer;
  padding: 0.5rem 0.75rem;
  border-radius: 4px;
}

.friend-submenu button:hover {
  background-color: #4f545c;
}

.friend-submenu .active {
  cursor: default;
  background-color: #45484e;
  /* background-color: #2f3136; */
}

.friend-content {
  padding: 0.75rem;
  overflow-y: auto;
}

.online-friends,
.friends,
.pending-friends {
  list-style: none;
  padding: 0;
  margin: 0;
}
