.online-friend-wrapper {
  display: flex;
  align-items: center;
  width: 70%;
}

.online-friend-wrapper:hover {
  border-radius: var(--radius-md);
  background-color: var(--friend-btn-hover);
}

.online-friend-info {
  display: flex;
  align-items: center;
  flex: 1;
  gap: var(--space-sm);
  padding: var(--space-sm);
  cursor: pointer;
}

.online-friend-nickname {
  font-size: var(--font-md);
  color: var(--color-text);
  margin-left: var(--space-xs);
}

.online-friend-buttons {
  width: 3.75rem;
}

.online-friend-delete-button {
  background-color: var(--color-danger);
  color: var(--color-text);
  border: none;
  border-radius: var(--radius-xs);
  padding: 0.3rem var(--space-md);
  font-size: var(--font-sm2);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.online-friend-delete-button:hover {
  background-color: #c43732;
}
