/* .chats-container {
  overflow-y: auto;
} */

.chats-container {
  flex: 1;
  margin-bottom: 0.5rem;
  overflow-y: auto;
}

.date-line {
  text-align: center;
  font-size: 0.85rem;
  color: gray;
  margin: 16px 0 8px;
}
