.chats-container {
  flex: 1;
  margin-bottom: var(--space-sm);
  position: relative;
  overflow: hidden;
}

.messages-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  overflow-y: auto;
}

/* 스크롤바 설정 */
.messages-container::-webkit-scrollbar {
  width: 0.6rem;
}

/* 스크롤바의 배경 트랙 설정 */
.messages-container::-webkit-scrollbar-track {
  border-radius: var(--radius-md);
  margin-top: var(--space-sm);
  border-left: 0.3rem solid transparent;
}

/* 스크롤바의 움직이는 핸들(슬라이더) 설정 */
.messages-container::-webkit-scrollbar-thumb {
  background-color: var(--color-scrollbar-thumb);
  border-radius: var(--radius-md);
}

/* 스크롤바 핸들 호버했을 때 설정 */
.messages-container::-webkit-scrollbar-thumb:hover {
  background-color: var(--color-scrollbar-thumb-hover);
}

/* 스크롤바 핸들에 액티브 상태일 때 스타일 설정 */
.messages-container::-webkit-scrollbar-thumb:active {
  background-color: var(--color-scrollbar-thumb-active);
}

.direct-chat-starting {
  margin-top: var(--space-sm);
}

.nickname {
  margin: var(--space-lg) 0 var(--space-xl) 0;
}

.group-chat-starting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: var(--space-sm);
}

.title {
  max-width: 25%;
  line-height: 1.2;
  text-align: center;
  word-break: keep-all; /* 단어 단위로 줄바꿈 (한글도 적용됨) */
  overflow-wrap: break-word; /* 단어가 너무 길면 줄바꿈 허용 */
}

.date-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: var(--font-sm);
  font-weight: var(--font-weight-bold);
  color: #9c9c9c;
  margin-top: var(--space-lg);
  gap: var(--space-sm);
}

.date-line::before,
.date-line::after {
  content: "";
  flex: 1;
  height: 1px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
}

.new-message-button {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  /* padding: 0.35rem 13.5rem; */
  padding: var(--space-xs) 13.5rem;
  color: white;
  border: none;
  background-color: #2977df;
  border-radius: 0 0 var(--radius-md) var(--radius-md); /* 좌상단 0, 우상단 0, 우하단 8px, 좌하단 8px */
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}

.bottom-button {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: var(--space-xs) var(--space-md);
  color: white;
  border: none;
  background-color: #000000;
  border-radius: var(--radius-md);
  cursor: pointer;
  text-align: center;
  white-space: nowrap;
}
