.chat-container {
  margin-bottom: 0.25rem;
}

.other-user {
  margin-top: 1rem;
}

.chat-header {
  display: flex;
  align-items: center;
  white-space: pre-line;
  margin-bottom: 0.25rem;
}

.chat-header span:last-child {
  font-size: 0.8rem;
  color: #808080;
}

.avatar {
  position: relative;
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.chat-date {
  margin-left: 0.5rem;
}

.chat-hover-date {
  font-size: 0.8rem;
  color: #808080;
  /* color: #999; */
  margin-left: 0.5rem;
  opacity: 0;
}

.chat-message:hover .chat-hover-date {
  opacity: 1;
}
