/* .chats-container {
  overflow-y: auto;
} */

/* .chats {
  display: flex;
  overflow-y: auto;
} */

.chats-container {
  flex: 1;
  margin-bottom: 0.5rem;
  overflow-y: auto;

  position: relative;
}

/* 스크롤바 설정 */
.chats-container::-webkit-scrollbar {
  width: 0.6rem;
}

/* 스크롤바의 배경 트랙 설정 */
.chats-container::-webkit-scrollbar-track {
  /* background-color: #ebebeb; */
  border-radius: 0.5rem;
  /* margin-top: 0.5rem; */
  /* margin-bottom: 0.5rem; */
  border-left: 0.3rem solid transparent;
}

/* 스크롤바의 움직이는 핸들(슬라이더) 설정 */
.chats-container::-webkit-scrollbar-thumb {
  background-color: #888888;
  border-radius: 0.5rem;
}

/* 스크롤바 핸들 호버했을 때 설정 */
.chats-container::-webkit-scrollbar-thumb:hover {
  background-color: #6e6e6e;
}

/* 스크롤바 핸들에 액티브 상태일 때 스타일 설정 */
.chats-container::-webkit-scrollbar-thumb:active {
  background-color: #333333;
}

.direct-chat-starting {
  margin-top: 0.5rem;
}

.avatar {
  position: relative;
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  background-color: #ccc;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.nickname {
  margin: 1rem 0 1.25rem 0;
}

.group-chat-starting {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0.5rem;
}

.title {
  max-width: 25%;
  line-height: 1.2;
  text-align: center;
  word-break: keep-all; /* 단어 단위로 줄바꿈 (한글도 적용됨) */
  overflow-wrap: break-word; /* 단어가 너무 길면 줄바꿈 허용 */
}

.date-line {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.85rem;
  font-weight: bold;
  color: #9c9c9c;
  margin-top: 1em;
  gap: 0.5rem;
}

.date-line::before,
.date-line::after {
  content: "";
  flex: 1;
  height: 1px;
  border-top: 1px solid rgba(128, 128, 128, 0.2);
  /* background-color: gray; */
  /* transform: scaleY(0.2); */
  /* transform-origin: center; */
}

/* .button-wrapper {
  position: absolute;
} */

.new-message-button {
  /* position: absolute;
  bottom: 5rem;
  right: 47.5%;
  transform: translateX(-50%);
  color: #ffffff;
  background-color: rgba(119, 119, 119, 0.8);
  border: none;
  border-radius: 0.5rem;
  width: 75%; */

  position: absolute;
  /* top: 2.15rem; */
  top: 0;
  /* left: 83%; */
  /* right: 18.55%; */
  left: 35%;
  /* width: 2rem;
  height: 2rem; */
  padding: 0.35rem 0.8rem;
  color: white;
  border: none;
  background-color: #2977df;
  border-radius: 0 0 8px 8px; /* 좌상단 0, 우상단 0, 우하단 8px, 좌하단 8px */
  cursor: pointer;
}

.bottom-button {
  position: absolute;
  /* bottom: 5rem; */
  bottom: 1rem;
  /* left: 83%; */
  /* right: 46.25%; */
  left: 50%;
  /* width: 2rem;
  height: 2rem; */
  padding: 0.25rem 0.8rem;
  color: white;
  border: none;
  background-color: #000000;
  border-radius: 8px;
  cursor: pointer;
}
