.chat-container {
  margin-bottom: 0.25rem;
}

.other-user {
  margin-top: 1rem;
}

.chat-header {
  display: flex;
  align-items: flex-start;
  gap: 0.75rem;
  white-space: pre-line;
  margin-bottom: 0.25rem;
}

/* .avatar {
  position: relative;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.2rem;
  color: white;
} */

.chat-content {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 0.25rem;
}

.chat-info {
  display: flex;
  align-items: center;
}

.chat-nickname {
  font-weight: bold;
}

.chat-date {
  margin-left: 0.5rem;
  font-size: 0.8rem;
  color: #808080;
}

.chat-message {
  white-space: pre-line;
  word-break: break-word;
}

.chat-messages {
  padding-left: 3.5rem;
  position: relative;
  white-space: pre-line;
}

.chat-hover-date {
  position: absolute;
  font-size: 0.65rem;
  color: #808080;
  left: 0;
  opacity: 0;
}

.chat-messages:hover .chat-hover-date {
  opacity: 1;
}
