.user-profile-chat-input-container {
  margin-top: auto;
  width: 100%;
}

.user-profile-chat-input-wrapper {
  position: relative;
}

.user-profile-chat-input-wrapper textarea {
  font: inherit;
  font-size: 1rem;
  padding: 0.75rem 3rem 0.75rem 0.8rem;
  line-height: 1.4;
  width: 100%;
  resize: none;

  color: white;
  background-color: #292b2f;
  border: 1px solid #444;
  border-radius: 0.5rem;
  box-sizing: border-box;

  min-height: 48px;
  overflow-y: hidden;
}

.user-profile-chat-input-wrapper textarea::placeholder {
  font-size: 0.95rem;
  color: #9a9a9a;
  line-height: 1.4;
}

.user-profile-chat-input-wrapper textarea:focus {
  outline: none;
  border: 1px solid #505050;
}

.user-profile-chat-input-send-button {
  position: absolute;
  font-size: 1.5rem;
  top: 0.75rem;
  right: 0.75rem;
  color: #b1b1b1;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

.user-profile-chat-input-send-button:hover {
  color: white;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}
