.user-profile-chat-input-container {
  margin-top: auto;
  /* margin-bottom: 2rem; */
  width: 100%;
}

.user-profile-chat-input-wrapper {
  position: relative;
  display: flex;
  /* align-items: flex-start; */
  align-items: center;
}

.user-profile-chat-input-wrapper textarea {
  font: inherit;
  font-size: 1rem;
  /* padding: 0 3rem 0 0.8rem; */
  /* padding: 0.75rem 3rem 0.75rem 0.8rem; */
  padding: 0.8rem 3rem 0.8rem 0.8rem; /* 추가 수정 필요 */
  line-height: 1.4; /* 추가 수정 필요 */
  /* line-height: 1.6; */
  /* line-height: 3rem; */
  width: 100%;
  resize: none;
  overflow: hidden;
  color: white;
  background-color: #292b2f;
  border: 1px solid #444;
  border-radius: 0.5rem;
  box-sizing: border-box;
  overflow-y: hidden;
  /* overflow-y: auto; */
  /* height: 62px; */
  /* height: 3rem; */
  min-height: 3rem;
  /* max-height: calc(100vh - 12rem); */
  overflow-y: auto;
}

.user-profile-chat-input-wrapper textarea::placeholder {
  font-size: 0.95rem;
  color: #9a9a9a;
  line-height: 1.4; /* 추가 수정 필요 */
  /* line-height: 1.6; */
}

.user-profile-chat-input-wrapper textarea:focus {
  outline: none;
  border: 1px solid #505050;
}

.user-profile-chat-input-send-button {
  position: absolute;
  font-size: 1.5rem;
  right: 0.75rem;
  bottom: 0.75rem;
  color: #b1b1b1;
  border: none;
  border-radius: 0.3rem;
  cursor: pointer;
}

/* .user-profile-chat-input-wrapper button {
  align-self: flex-start;
} */

.user-profile-chat-input-send-button:hover {
  color: white;
}

.disable {
  opacity: 0.5;
  pointer-events: none;
}
