.avatar-img-wrapper,
.avatar-color {
  position: relative;
}

.avatar-img,
.avatar-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar-img {
  object-fit: cover;
}

.chat-avatar {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

/* .friend-avatar {
  width: 2rem;
  height: 2rem;
} */

.direct-chat-starting-avatar {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  background-color: #ccc;
}

.mutual-friend-user-avatar {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.25rem;
  background-color: #ccc;
  /* box-shadow: 0 0 0 5px #2f3136;
  z-index: 1; */
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
}

.mutual-friend-user-online-check-dot {
  /* position: relative; */
  width: 1.25rem;
  height: 1.25rem;
  border: 4px solid #1e1e1e;
}
