.avatar-img-wrapper,
.avatar-color {
  position: relative;
}

.avatar-img,
.avatar-color {
  width: 2rem;
  height: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
}

.avatar-img {
  object-fit: cover;
}

.notif-avatar {
  width: 3rem;
  height: 3rem;
  font-size: 1.2rem;
}

.user-profile-info-avatar {
  /* width: 2.5rem;
  height: 2.5rem; */
  position: absolute;
  top: -2rem;
  box-shadow: 0 0 0 3px #2f3136;
  z-index: 1;
}

.chat-avatar {
  width: 2.5rem;
  height: 2.5rem;
  font-size: 1.2rem;
}

.direct-chat-starting-avatar,
.group-chat-host-info-avatar {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
}

.group-chat-host-info-avatar {
  position: absolute;
  top: -2.25rem;
  box-shadow: 0 0 0 6px #2f3136;
  z-index: 1;
}

.mutual-friend-user-avatar {
  width: 2.75rem;
  height: 2.75rem;
  font-size: 1.25rem;
}

.offline {
  opacity: 0.3;
}

.online-dot,
.offline-dot {
  position: absolute;
  width: 0.8rem;
  height: 0.8rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 2px solid #1e1e1e;
}

.offline-dot {
  background-color: gray;
}

.mutual-friend-user-online-check-dot {
  width: 1.25rem;
  height: 1.25rem;
  border: 4px solid #1e1e1e;
}
