.password-edit-wrapper {
  display: flex;
  flex-direction: column;
}

.password-edit-title-wrapper {
  display: flex;
  align-items: center;
  gap: var(--space-xs);
  margin-bottom: var(--space-xs);
}

.password-edit-back {
  padding: 0;
  margin: 0;
  margin-right: var(--space-sm);
  background-color: transparent;
  border: none;
  width: 1.1rem;
  height: 1.1rem;
  color: var(--color-icon-quaternary);
  cursor: pointer;
}

.password-edit-back:hover {
  color: var(--color-icon);
}

.password-edit-back svg {
  width: 1.1rem;
  height: 1.1rem;
}

.password-edit-title {
  font-size: var(--font-lg);
  margin: 0;
}

.password-edit-description {
  margin: 0;
  margin-bottom: var(--space-2xl);
  color: var(--color-text-secondary);
  font-size: var(--font-xs);
  font-weight: var(--font-weight-light);
}

.password-edit-label {
  margin: var(--space-sm) 0;
  font-size: var(--font-base);
  font-weight: var(--font-weight-bold);
  color: var(--color-text-subtle);
}

.password-edit-input-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  margin-bottom: var(--space-md);
}

.password-edit-input {
  width: 100%;
  padding: var(--space-sm) var(--space-sm);
  padding-right: var(--space-3xl);
  border: 1px solid var(--color-border-muted);
  border-radius: var(--radius-sm);
  background-color: transparent;
  color: var(--color-text);
  font-size: var(--font-sm);
}

.password-edit-input:focus {
  outline: none;
  border-color: var(--color-border-focus);
}

.password-edit-eye-icon {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 50%;
  transform: translateY(-50%);
  right: 0.1rem;
  background-color: transparent;
  border: none;
  margin-right: var(--space-sm);
  width: 1rem;
  height: 1rem;
  border: none;
  color: var(--color-icon-quaternary);
  cursor: pointer;
}

.password-edit-eye-icon:hover {
  color: var(--color-icon);
}

.password-edit-eye-icon svg {
  width: 1rem;
  height: 1rem;
}

.error-message {
  height: 0.1rem;
  line-height: 0.5rem;
  text-align: center;
  margin-top: var(--space-xs);
  margin-bottom: var(--space-lg);
  color: var(--color-error);
  font-size: var(--font-xs);
  opacity: 1;
}

.password-edit-submit {
  text-align: end;
}

.password-edit-submit button {
  background-color: var(--color-success);
  color: var(--color-text);
  border: none;
  padding: 0.3rem var(--space-md);
  border-radius: var(--radius-sm);
  font-size: var(--font-sm);
  cursor: pointer;
}

.password-edit-submit button:hover {
  background-color: var(--color-success-hover);
}
