.title {
  text-align: center;
  font-size: 1.25rem;
  margin: 1rem 0 0.25rem 0;
}

.nickname-edit-wrapper {
  margin-bottom: 0.75rem;
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}

.nickname-edit-title {
  font-size: 0.95rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: #ddd;
}

.nickname-edit-input {
  margin: 0 0.5rem;
  padding: 0.5rem;
  /* border: 1px solid rgba(128, 128, 128, 0.2); */
  border: 1px solid rgba(133, 133, 133, 0.5);
  border-radius: 6px;
  /* background-color: #363636; */
  background-color: transparent;
  color: white;
  font-size: 1.1rem;
}

.nickname-edit-input:focus {
  outline: none;
  border-color: #199cf3;
}

/* .nickname-edit-input.error {
  outline: none;
  border-color: #f44336;
} */

.error {
  outline: none;
  border-color: #f44336;
}

.error-message {
  height: 0.5rem;
  line-height: 0.25rem;
  color: #f44336;
  font-size: 0.85rem;
  text-align: center;
  /* margin-left: 0.5rem; */
  opacity: 1;
}

.error-message:empty {
  opacity: 0;
}

.underline {
  height: 1px;
  background-color: rgba(128, 128, 128, 0.2);
  margin: 0.25rem 0.5rem 1.25rem 0.5rem;
}

.avatar-color-edit-title {
  font-size: 0.95rem;
  font-weight: bold;
  margin-left: 0.5rem;
  color: #ddd;
}

.avatar-image-preview {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 0.5rem;
}

.avatar-image-preview img {
  width: 80px;
  height: 80px;
  object-fit: cover; /* 이미지가 박스에 맞게 잘리면서 꽉 차게 표시됨 */
  border-radius: 50%; /* 원형 아바타 형태로 표시 */
  border: 2px solid #ccc;
}

.avatar-color-list {
  display: grid;
  grid-template-columns: repeat(5, 1fr); /* 5 X 4로 표시 */
  gap: 0.5rem;
  /* margin: 0.25rem 0; */
  padding: 0.5rem;
  place-items: center; /* = align-items: center; + justify-items: center; */
}

.avatar-color-button {
  width: 2rem;
  height: 2rem;
  color: white;
  border-radius: 50%;
  border: none;
  cursor: pointer;
  transition: transform 0.15s ease-in-out;
}

.avatar-color-button:hover {
  transform: scale(1.125);
}

.avatar-color-button.selected {
  transform: scale(1.125);
  border: 2px solid white;
}

.submit-button {
  text-align: end;
  margin: 0.5rem;
}

.active {
  background-color: #4caf50;
  /* background-color: #1565c0; */
  color: white;
  border: none;
  padding: 0.3rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
}

.active:hover {
  background-color: #3d9640;
  /* background-color: #0d47a1; */
}

.disable {
  pointer-events: none;
  background-color: #555;
  color: #aaa;
  border: none;
  padding: 0.3rem 0.75rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: default;
}
