.group-member-menu-wrapper {
  display: flex;
  flex-direction: column;
  width: 18rem;
  height: auto;
  color: var(--color-text);
  border-radius: var(--radius-md);
  box-shadow: var(--shadow-soft-spread);
  position: fixed; /* 반드시 고정 */
  white-space: nowrap;

  overflow: hidden;
}

.group-member-menu-avatar-wrapper {
  position: absolute;
  top: -2rem;
}

.group-member-menu-header-img,
.group-member-menu-header-color {
  height: 6rem;
  width: 100%;
  flex-shrink: 0;
}

.group-member-menu-header-img {
  object-fit: cover;
}

.group-member-menu-info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: var(--profile-bg);
  padding: var(--space-lg);
  overflow-y: visible;
}

.group-member-menu-content {
  margin-top: var(--space-xl);
  font-size: var(--font-xs);
}

.group-member-menu-nickname {
  font-weight: var(--font-weight-bold);
  font-size: var(--font-xl);

  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.group-member-menu-role {
  margin-top: var(--space-lg);
  font-size: var(--font-base);
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.group-member-menu-nickname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.group-member-menu-role-highlight {
  font-weight: var(--font-weight-semibold);
  color: var(--color-text);
}

/* .group-member-menu-action-wrapper {
  text-align: center;
  margin: var(--space-xs) 0;
} */

.group-member-menu-actions {
  display: flex;
  flex-direction: column;
  margin-top: var(--space-sm);
}

.group-member-menu-action-button {
  width: 100%;
  min-height: 2.25rem;
  padding: 0 var(--space-sm);
  display: flex;
  align-items: center;
  border: none;
  border-radius: var(--radius-xs);
  background: transparent;
  font-size: var(--font-sm3);
  text-align: left;

  color: var(--color-text-secondary);
  white-space: nowrap;
  cursor: pointer;
}

.group-member-menu-action-button:hover {
  color: var(--color-text);
  background-color: var(--friend-btn-hover);
  font-weight: var(--font-weight-semibold);
}

.underline {
  height: 1px;
  background-color: var(--color-divider);
  margin: var(--space-xs) 0;
}

.group-member-menu-action-danger,
.group-member-menu-action-danger:hover {
  color: #ed4245;
}
