.no-access {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: #252525;
  z-index: 9999;
}

.redirect-button-wrapper {
  text-decoration: none;
  margin-top: var(--space-lg);
}

.redirect-button {
  border: none;
  cursor: pointer;
  padding: var(--space-sm) var(--space-3xl);
  border-radius: var(--radius-xs);
  color: var(--color-text);
  background-color: #474747;
  font-size: var(--font-sm3);
  transition: all 0.3s ease;
}

.redirect-button:hover {
  background-color: #5a5a5a;
}
