.not-found {
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  inset: 0;
  background-color: var(--color-bg-error);
  color: var(--color-text);
}

.redirect-button-wrapper {
  text-decoration: none;
  margin-top: var(--space-lg);
}

.redirect-button {
  border: none;
  cursor: pointer;
  padding: var(--space-sm) var(--space-3xl);
  border-radius: var(--radius-xs);
  color: var(--color-text);
  background-color: var(--color-btn-redirect);
  font-size: var(--font-sm3);
  transition: var(--transition-all);
}

.redirect-button:hover {
  background-color: var(--color-btn-redirect-hover);
}
