.user-profile-wrapper {
  display: flex;
  flex-direction: column;

  width: 18rem;
  /* min-height: 16.5rem; */
  height: auto;

  background: #1abc9c;
  color: #fff;
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  position: fixed; /* 반드시 고정 */
  white-space: nowrap;

  overflow: hidden;
}

.user-profile-self {
  height: 14rem;
}

.user-profile-info-avatar-wrapper {
  position: absolute;
  top: -2rem;
}

.user-profile-header-img,
.user-profile-header-color {
  height: 6rem;
  width: 100%;
  flex-shrink: 0;
}

.user-profile-header-img {
  object-fit: cover;
}

.user-profile-info {
  position: relative;
  display: flex;
  flex-direction: column;
  height: 100%;
  background-color: #43454d;
  padding: 1rem;
  overflow-y: visible;
}

.user-profile-info-avatar-img,
.user-profile-info-avatar-color {
  width: 3.5rem;
  height: 3.5rem;
  font-size: 2rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 5px #43454d;
  z-index: 1;
}

.user-profile-info-avatar-img {
  object-fit: cover;
}

.user-profile-info-online-dot,
.user-profile-info-offline-dot {
  position: absolute;
  width: 1rem;
  height: 1rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 3px solid #1e1e1e;
}

.user-profile-info-offline-dot {
  background-color: gray;
}

.user-profile-info-content {
  margin-top: 1.25rem;
  font-size: 0.8rem;
}

.user-profile-nickname {
  font-weight: bold;
  font-size: 1.5rem;
}

.user-profile-nickname:hover {
  cursor: pointer;
  text-decoration: underline;
}

.user-profile-edit-wrapper {
  text-align: center;
  margin: 0.75rem 0;
}

.user-profile-edit-button {
  color: white;
  background-color: #4caf50;
  /* background-color: #1565c0; */
  font-weight: bold;
  border: none;
  padding: 0.4rem 6rem;
  border-radius: 6px;
  font-size: 0.85rem;
  cursor: pointer;
}

.user-profile-edit-button:hover {
  background-color: #339436;
}

.user-profile-mutual-wrapper {
  margin: 0.5rem 0;
}

.user-profile-mutual-friends {
  color: #b3b3b3;
  cursor: pointer;
}

.user-profile-mutual-friends:hover {
  text-decoration: underline;
}

.user-profile-mutual-separator {
  color: #b3b3b3;
}

.user-profile-mutual-group-chats {
  color: #b3b3b3;
}

.user-profile-mutual-group-chats::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  background-color: currentColor;
  border-radius: 50%;
  margin: 0 8px;
  transform: translateY(-2px);
}

.user-profile-mutual-group-chats-text {
  cursor: pointer;
}

.user-profile-mutual-group-chats-text:hover {
  text-decoration: underline;
}
