/* .user-profile-wrapper::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25rem 0.2rem 0.25rem 0;
  border-color: transparent #1abc9c transparent transparent;
}

.user-profile-wrapper {
  position: absolute;
  left: calc(100% + 0.5rem);
  top: 50%;
  transform: translateY(-50%);
  background-color: #1abc9c;
  color: #fff;
  padding: 0.65rem 0.5rem;
  border-radius: 8px;
  font-size: 1rem;
  white-space: nowrap;
  z-index: 100;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.2s ease-in-out;
} */

/* .user-profile-wrapper::before {
  content: "";
  position: absolute;
  right: 100%;
  top: 50%;
  transform: translateY(-50%);
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0.25rem 0.2rem 0.25rem 0;
  border-color: transparent #1abc9c transparent transparent;
} */

.user-profile-wrapper {
  display: flex;
  flex-direction: column;

  width: 10rem;
  height: 10rem;

  background: #1abc9c;
  color: #fff;
  /* padding: 5rem; */
  border-radius: 8px;
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  position: fixed; /* 반드시 고정 */
  white-space: nowrap;

  overflow: hidden;
}

.user-profile-header-img,
.user-profile-header-color {
  height: 5rem;
  width: 100%;
  flex-shrink: 0;

  /* border-top-left-radius: 8px; */
  /* border-top-right-radius: 8px; */
}

.user-profile-header-img {
  object-fit: cover;
}

.user-profile-info {
  display: flex;
  /* flex-direction: column; */
  position: relative;
  height: 100%;
  background-color: #43454d;
  padding: 1rem;
  overflow-y: visible;
  /* border-bottom-right-radius: 8px; */
  /* border-bottom-left-radius: 8px; */
  border: 1px solid #444;
}
