.user-profile-details-wrapper {
  display: flex;
  flex-direction: row;

  width: 45rem;
  height: 30rem;
  /* height: auto; */

  /* background: #1abc9c; */
  color: #fff;
  /* border-radius: 10px; */
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  background-color: #2a2a2c;

  /* overflow: hidden; */
}

.user-profile-details-info-wrapper {
  width: 18rem;
  height: auto;
  margin-top: 1.5rem;
  margin-left: 1rem;
  background-color: #43454d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-color: #2a2a2c; */
}

.user-profile-details-info-header-img,
.user-profile-details-info-header-color {
  height: 6rem;
  width: 100%;
  flex-shrink: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
}

.user-profile-details-info-header-img {
  object-fit: cover;
}

.user-profile-details-info-avatar-wrapper {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
}

.user-profile-details-info-avatar-img,
.user-profile-details-info-avatar-color {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 5px #43454d;
  /* box-shadow: 0 0 0 5px #2a2a2c; */
  z-index: 1;
}

.user-profile-details-info-avatar-img {
  object-fit: cover;
}

.user-profile-details-info-online-dot,
.user-profile-details-info-offline-dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 5px solid #1e1e1e;
}

.user-profile-details-info-offline-dot {
  background-color: gray;
}

.user-profile-details-info-content {
  margin: 3rem 1rem 0 1rem;
}

.friend-since-wrapper {
  margin: 0.5rem 0;
  /* padding: 0.5rem; */
  /* background-color: #414147; */
  /* border-radius: 8px; */
}

.friend-since-label {
  font-size: 0.85rem;
  font-weight: bold;
}

.friend-since-label-emoji {
  font-size: 0.95rem;
  margin-right: 0.25rem;
}

.friend-since {
  margin-top: 0.15rem;
  font-size: 0.875rem;
}

.not-friend {
  padding: 0.5rem;
  margin: 0.75rem 0;
  background-color: #414147;
  border-radius: 8px;
  font-weight: bold;
  font-size: 0.9rem;
  color: white;
  text-align: center;
}

.user-profile-details-actions {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-top: 1rem;
}

.direct-chat-button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.5rem;
  border-radius: 6px;
  border: none;
  background-color: #2f2f33;
  /* color: #ddd; */
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.direct-chat-button:hover {
  background-color: #3a3a40;
}

.friend {
  padding: 0.4rem 0.75rem;
  background-color: #2373cf;
  font-weight: bold;
}

.friend:hover {
  background-color: #1c61af;
}

.direct-chat-icon {
  width: 1.2rem;
  height: 1.2rem;
}

.direct-chat-text {
  position: relative;
  font-size: 0.95rem;
  bottom: 1px;
  /* line-height: 1; */
}

/* .friend-check-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 2.25rem;
  height: 2.25rem;
  border-radius: 6px;
  background-color: #2a2a2c;
  color: #8fefdc;
  cursor: default;
}

.add-friend-button {
  display: inline-flex;
  align-items: center;
  gap: 0.4rem;
  padding: 0.4rem 0.75rem;
  border-radius: 6px;
  background-color: #1abc9c;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.15s ease;
}

.add-friend-button:hover {
  background-color: #17a88b;
} */

.user-profile-details-mutual-wrapper {
  width: 27rem;
  height: auto;
  margin: 2rem 1rem 0 1rem;
  /* margin-left: 1rem; */
  /* margin-top: 2.5rem; */
  /* background-color: #43454d; */
  /* background-color: #2a2a2c; */
}

.user-profile-details-mutual-tabs {
  display: flex;
  gap: 1.25rem;
  /* justify-content: space-between; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

.user-profile-details-mutual-tab {
  padding: 0;
  margin: 0;
  font-size: 0.9rem;
  font-weight: bold;
  background: none;
  border: none;
  color: #aaa;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.user-profile-details-mutual-tab:hover {
  color: #fff;
}

.user-profile-details-mutual-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  opacity: 0;
}

.user-profile-details-mutual-tab:hover::after,
.user-profile-details-mutual-tab.active::after {
  opacity: 1;
}

.active {
  color: #fff;
  font-weight: bold;
  cursor: default;
}

.user-profile-details-mutual-friend {
  position: relative;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  padding: 0.5rem 0.25rem;
  flex: 1;
}

.user-profile-details-mutual-friend:hover,
.user-profile-details-mutual-group-chat:hover {
  border-radius: 8px;
  background-color: #38393f;
  cursor: pointer;
}

.user-profile-details-mutual-friend-nickname {
  color: white;
  width: 8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.user-profile-details-mutual-group-chat {
  display: flex;
  text-decoration: none;
  padding: 0.5rem 0.25rem;
  align-items: center;
}

.user-profile-details-mutual-group-chat-icon {
  flex-shrink: 0; /* flex에서 크기 줄어드는 거 방지 */
  width: 2.75rem;
  min-width: 2.75rem; /* 안전 장치 */
  height: 2.75rem;
  border-radius: 16px;
  background-color: #00b8db;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s ease, transform 0.3s ease;
  color: white;
  white-space: nowrap; /* 텍스트 자동 줄바꿈 방지 */
  overflow: hidden; /* 글자가 요소 범위를 넘어가지 않도록 방지 */
}

.title-small {
  font-size: 0.65rem;
}

.user-profile-details-mutual-group-chat-title {
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; /* 텍스트가 넘칠 경우 ... 으로 생략해 출력 */
  min-width: 0;
  color: white;
  font-weight: bold;
  font-size: 1.1rem;
  margin-left: 0.5rem;
}
