.user-profile-details-wrapper {
  display: flex;
  flex-direction: row;

  width: 45rem;
  height: 30rem;
  /* height: auto; */

  /* background: #1abc9c; */
  color: #fff;
  /* border-radius: 10px; */
  z-index: 9999;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  white-space: nowrap;
  background-color: #2a2a2c;

  /* overflow: hidden; */
}

.user-profile-details-info-wrapper {
  width: 18rem;
  height: auto;
  margin-top: 1.5rem;
  margin-left: 1rem;
  background-color: #43454d;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* background-color: #2a2a2c; */
}

.user-profile-details-info-header-img,
.user-profile-details-info-header-color {
  height: 6rem;
  width: 100%;
  flex-shrink: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  /* border-radius: 10px; */
}

.user-profile-details-info-header-img {
  object-fit: cover;
}

.user-profile-details-info-avatar-wrapper {
  position: absolute;
  top: 5.5rem;
  left: 2rem;
}

.user-profile-details-info-avatar-img,
.user-profile-details-info-avatar-color {
  width: 4.5rem;
  height: 4.5rem;
  font-size: 2.5rem;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  color: white;
  box-shadow: 0 0 0 5px #43454d;
  /* box-shadow: 0 0 0 5px #2a2a2c; */
  z-index: 1;
}

.user-profile-details-info-avatar-img {
  object-fit: cover;
}

.user-profile-details-info-online-dot,
.user-profile-details-info-offline-dot {
  position: absolute;
  width: 1.5rem;
  height: 1.5rem;
  bottom: -1px;
  right: -1px;
  border-radius: 50%;
  background-color: #02ac02;
  border: 5px solid #1e1e1e;
}

.user-profile-details-info-offline-dot {
  background-color: gray;
}

.user-profile-details-info-content {
  margin-top: 3rem;
  margin-left: 1rem;
}

.user-profile-details-mutual-wrapper {
  width: 27rem;
  height: auto;
  margin: 2rem 1rem 0 1rem;
  /* margin-left: 1rem; */
  /* margin-top: 2.5rem; */
  /* background-color: #43454d; */
  /* background-color: #2a2a2c; */
}

/* .user-profile-details-mutual-tabs {
  display: flex;
  border-bottom: 1px solid #444;
} */

/* .user-profile-details-mutual-tab {
  flex: 1;
  background: none;
  border: none;
  text-align: center;
  padding: 0.25rem 0;
  cursor: default;
} */

/* .label {
  position: relative;
  display: inline-block;
  color: #aaa;
  cursor: pointer;
} */

/* .user-profile-details-mutual-tab:hover {
  color: #fff;
  font-weight: bold;
} */

/* .user-profile-details-mutual-tab:hover .label,
.user-profile-details-mutual-tab.active .label {
  color: #fff;
  font-weight: bold;
} */

/* .label:hover {
  color: #fff;
  font-weight: bold;
} */

/* .label::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -6px; 
  width: 100%;
  height: 3px; 
  background-color: #1abc9c;
  opacity: 0;
  align-items: center;
} */

/* .user-profile-details-mutual-tab:hover::after,
.user-profile-details-mutual-tab.active::after {
  opacity: 1;
} */

.user-profile-details-mutual-tabs {
  display: flex;
  gap: 1.25rem;
  /* justify-content: space-between; */
  /* display: grid;
  grid-template-columns: 1fr 1fr; */
  padding-bottom: 0.5rem;
  margin-bottom: 1rem;
  border-bottom: 1px solid #444;
}

/* .user-profile-details-mutual-tab {
  flex: 1;
  background: none;
  border: none;
  text-align: center;
  padding: 0.25rem 0;
  cursor: default;
} */

.user-profile-details-mutual-tab {
  /* justify-self: center; */

  font-size: 0.9rem;
  font-weight: bold;
  background: none;
  border: none;
  padding: 0;
  margin: 0;
  color: #aaa;
  cursor: pointer;
  position: relative;
  white-space: nowrap;
}

.user-profile-details-mutual-tab:hover {
  color: #fff;
}

.user-profile-details-mutual-tab::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  width: 100%;
  height: 3px;
  background-color: #fff;
  opacity: 0;
}

.user-profile-details-mutual-tab:hover::after,
.user-profile-details-mutual-tab.active::after {
  opacity: 1;
}

.active {
  color: #fff;
  font-weight: bold;
  cursor: default;
}

/* .active::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  width: 100%;
  height: 3px;
  background-color: #1abc9c;
} */

/* .indicator {
  position: absolute;
  bottom: -1px;
  left: 0;
  width: 50%;
  height: 3px;
  background-color: #1abc9c;
  transition: transform 0.25s ease;
} */

/* .active::after {
  content: "";
  display: block;
  height: 2px;
  margin-top: 4px;
  background-color: #1abc9c;
} */
